<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="background-color: aquamarine;padding: 20px;">
        <h1 style="text-align: center;"><u>HELLO WORLD</u></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum deserunt non facilis ea, dolore et. Quasi quod illo quia iste corporis aperiam ad mollitia? Deserunt laudantium neque adipisci illum sed?
    Voluptatum, quisquam accusamus. Repellat eaque nesciunt, error maxime quo nihil sunt recusandae ipsa, commodi quod natus, debitis quisquam fugit dolores quidem! Dolor expedita provident molestias atque repellat, nostrum officia doloribus!
    Officiis culpa alias reprehenderit earum odit quos impedit autem maiores, aperiam numquam minus laborum iure modi consectetur ad corporis voluptas aliquid vitae tenetur, nesciunt, rem veritatis! Cumque deserunt voluptatem maxime!
    Doloribus corrupti illum optio debitis sapiente reiciendis voluptates, omnis nihil consequuntur ad temporibus nam saepe exercitationem iusto perspiciatis maxime necessitatibus. Iure, deleniti quibusdam voluptas veniam mollitia molestiae modi odit tempora.
    Quos, voluptatum. Obcaecati officia amet, necessitatibus quae repellendus et autem? Ipsa corporis eos dolorum nihil temporibus incidunt, quisquam atque delectus! Atque, porro minima? Ducimus, fuga esse? Sint, aspernatur vero? Culpa?
    Suscipit aliquid voluptate dignissimos corrupti? Pariatur soluta qui non at! Quam ut impedit architecto debitis ipsa ipsam officiis voluptates nihil, totam possimus corrupti eum iusto culpa inventore commodi laborum itaque!
    Excepturi praesentium sunt vero hic ullam libero, architecto cum earum soluta reprehenderit? Quisquam id odio nostrum impedit! Asperiores porro illum odio aspernatur aperiam aliquam nesciunt cumque enim mollitia fugit! Sapiente.
    Inventore, minima! Sed magnam ipsam corrupti optio dolorem, earum veniam ex architecto quidem, nostrum repellat consequatur fugiat atque maxime assumenda dolores aspernatur nam ducimus exercitationem nulla tenetur eos, quis doloremque.
    Voluptatem corrupti, esse temporibus beatae ducimus doloribus aperiam. Delectus quis aperiam cupiditate maxime beatae fugit! Nesciunt quis nisi esse voluptates tempora corrupti sit ipsum magni delectus. Totam eius eligendi ratione?
    Eius minus voluptatem vero. Sit cumque, quam accusamus nihil laborum blanditiis omnis, aperiam labore molestias quidem, exercitationem eum facere architecto nisi distinctio esse possimus totam facilis. Nisi quas perferendis voluptas.</p>
    <div class="demo" style="display: flex;gap: 20px;">
    <div style="background-color: chartreuse;padding: 10px;">
        <h1>HTML</h1>
        <p>HTML stands for Hyper Text Markup Language
    HTML is the standard markup language for creating Web pages
    HTML describes the structure of a Web page
    HTML consists of a series of elements
    HTML elements tell the browser how to display the content
    HTML elements label pieces of content such as "this is a heading", "this is a paragraph", "this is a link", etc.
    </p>
    </div>
    <div style="background-color: crimson;padding: 10px;">
        <h1>CSS</h1>
        <p>CSS stands for Cascading Style Sheets
CSS describes how HTML elements are to be displayed on screen, paper, or in other media
CSS saves a lot of work. It can control the layout of multiple web pages all at once
External stylesheets are stored in CSS files
</p>
    </div>
    <div style="background-color: coral;padding: 10px;">
        <h1>JAVA SCRIPT</h1>
        <p>JavaScript is the programming language of the web.
It can calculate, manipulate and validate data.
It can update and change both HTML and CSS.
</p>
    </div>
    </div>
    <a href="https://www.w3schools.in/"><button style="margin-top: 5px;">click me</button></a>
    </div>
</body>
</html>