<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Hospital Project </title>
</head>
<body style="background-color: black;">
<h1 style="color: white;text-align: center;"><u>Hospital Project</u></h1>
<h2 style="color: white;text-align: center;">Patients List</h2>

<form method="post" action="{% url 'add_patient' %}">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Enter patient name" required><br><br>
    <input type="number" name="age" placeholder="Enter age" required><br><br>
    <input type="text" name="disease" placeholder="Enter disease" required><br><br>
    <button type="submit">Add</button>
</form>
    
    <ul style="color: white;">
        {% for p in patients %}
            
                <li>Name:{{ p.name}}</li>
                <li>Age:{{p.age}}</li>
                <li>Disease:{{ p.disease}}</li>
            <form method="post" action="{% url 'delete_patient' p.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
            
    {% empty %}
        <li>No patients found</li>
    {% endfor %}
    </ul>
</body>
</html>