<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY Project</title>
</head>
<body>
    <h1>MY DJANGO PROJECTS</h1>
    <h2>HOSPITAL LIST PROJECT</h2>
    <h3>Patients list</h3>
    <a href="http://127.0.0.1:8000/list/"><button>CLICK</button></a>
    <h3>Doctors list</h3>
    <a href="http://127.0.0.1:8000/Dr/"><button>CLICK</button></a>
    <h2>HOSPITAL PROJECT</h2>
    <a href="http://127.0.0.1:8000/HOME/"><button>CLICK 👇</button></a>
    <h2>LOGIN PROJECT</h2>
    <a href="http://127.0.0.1:8000/login/"><button>CLICK❗</button></a>
</body>
</html>